.SEcover{
    /* min-height: 100vh; */
    background-color : #1C1B20;
    /* padding-left: 5vw;
    padding-right: 5vw; */
    padding-bottom: calc(10px + 2vh);
}
.SETop {
    padding-top: calc(10px + 2vh);
    padding-bottom: calc(10px + 2vh);
    min-height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.SEBottom {
    /* min-height: 75vh; */
}
.SEheading {
    font-size:calc(15px + 0.8vw);
    font-weight: bold;
    font-family: Helvetica;
    color: #EDEDED;
}

.noMarginR {
    margin-right: 0px !important;
}
